 @{
    ViewData["Title"] = "Introduction Menu";
}
 <style>
    div{
       font-family: 배달의민족 한나체 Pro; 
    }
</style>

 <div class="text-center">
    <h1 class="display-4">Online Chicken Delivery Menu Site </h1> <br>
    <h3>메뉴 소개</h3><br>
    <br>
    <br>
      <input type="button" value="뒤로가기" class="btn btn-primary" onclick='history.go(-1);' />
</div>